{% extends 'base.html' %}

{% block content %}

<h1>Select</h1>


<p> O comando <b>SELECT</b> em SQL é utilizado para selecionar linhas de uma tabela específica.
<br>Por exemplo, considere a tabela <b>nomes</b>:
</p>

<table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    <tr>
        <td>Joana</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Manuel</td>
        <td>25</td>

    </tr>
    <tr>
        <td>Carla</td>
        <td>30</td>
    </tr>
</table>

<p><br><br>Eis a seguinte query:
</p>

<pre>
    <code class = "language-sql">
        SELECT * 
        FROM nomes;
    </code>
</pre>

<p>
    Este comando irá selecionar <b>todas</b> as linhas da tabela <b>nomes</b>:
</p>

<table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
    </tr>
    <tr>
        <td>Joana</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Manuel</td>
        <td>25</td>

    </tr>
    <tr>
        <td>Carla</td>
        <td>30</td>
    </tr>
</table>

<p>
<br>Para selecionar apenas algumas colunas, basta substituir o <b>*</b> pelo nome das colunas desejadas:
</p>

<pre>
    <code class = "language-sql">
        SELECT idade 
        FROM nome_da_tabela;
    </code>
</pre>

<p>Esta query irá selecionar apenas a coluna <b>idade</b> da tabela <b>nomes</b>:
</p>

<table>
    <tr>
        <th>Idade</th>
    </tr>
    <tr>
        <td>18</td>
    </tr>
    <tr>
        <td>25</td>

    </tr>
    <tr>
        <td>30</td>
    </tr>

{% endblock %}