{% extends 'base.html' %}

{% block content %}

<h1>Subquery</h1>


<p> Uma subquery é, essencialmente, uma query dentro de outra query.
<br>Por exemplo, considere a tabela <b>Clientes</b> e a tabela <b>Encomendas</b>:
</p>

<table>
    <tr>
        <th>ClienteID</th>
        <th>Nome</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Diogo</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Miguel</td>

    </tr>
    <tr>
        <td>3</td>
        <td>Afonso</td>
    </tr>
</table>

<table>
    <tr>
        <th>EncomendaID</th>
        <th>ClienteID</th>
        <th>Valor da Encomenda</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>30</td>
    </tr>
    <tr>
        <td>2</td>
        <td>2</td>
        <td>40</td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>10</td>
    </tr>

    <tr>
        <td>2</td>
        <td>2</td>
        <td>50</td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>1000</td>
    </tr>
</table>

<p><br><br>Neste exemplo, queremos saber as encomendas que não foram realizadas pelo Miguel.
    
    <br>Eis a seguinte query:
</p>

<pre>
    <code class = "language-sql">
        SELECT * 
        FROM encomendas
        WHERE nome not like 'Miguel';
    </code>
</pre>

<p>

    <b>Isto não funciona porque a tabela ENCOMENDA não tem os NOMES guardados!</b>
    <br>Para resolver este problema, podemos usar uma subquery:
</p>
<pre>
    <code class = "language-sql">
        -- SUBQUERY
        SELECT DISTINCT clienteID 
        FROM clientes
        WHERE nome not like 'Miguel';
    </code>
</pre>
<p>
    <b>Esta query irá selecionar o <b>ID</b> de todos os clientes que não se chamam <b>Miguel</b>.</b>
</p>

<table>
    <tr>
        <th>ClienteID</th>
    </tr>
    <tr>
        <td>1</td>
    </tr>
    <tr>
        <td>3</td>
    </tr>
</table>

<p>
    <br>Por fim, podemos usar esta subquery para selecionar as encomendas com os <b>ClienteID</b> que estão na subquery:
</p>


<pre>
    <code class = "language-sql">
        -- QUERY FINAL
        SELECT * 
        FROM encomendas
        WHERE clienteID in (
            SELECT DISTINCT clienteID 
            FROM clientes
            WHERE nome not like 'Miguel'
        );
    </code>
</pre>

<h2>Output Final:</h2>

<table>
    <tr>
        <th>EncomendaID</th>
        <th>ClienteID</th>
        <th>Valor da Encomenda</th>
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>30</td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>10</td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>1000</td>
    </tr>

</table>


{% endblock %}