{% extends 'base.html' %}

{% block content %}

<h1>SubQuery Variável</h1>


<p> Uma <b>subquery variável</b> é uma subconsulta que utiliza valores de uma consulta externa. O valor da subquery depende de cada linha processada pela consulta externa.
<br>Por exemplo, considere a tabela <b>nomes</b>:
</p>

<table>
    <tr>
        <th>FuncionariosID</th>
        <th>Nome</th>
        <th>DepartamentoID</th>
        <th>Salário</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ana</td>
        <td>1</td>
        <td>4000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>João</td>
        <td>1</td>
        <td>3000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Maria</td>
        <td>2</td>
        <td>5000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Pedro</td>
        <td>2</td>
        <td>4500</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Lucas</td>
        <td>3</td>
        <td>3500</td>
    </tr>
</table>

<p><br><br><b>O objetivo é os funcionarios que têm um salário superior à média do seu departamento. Imprimir o nome e o salário de cada funcionário que cumpra esta condição.</b> 
</p>
<p><br><br>Eis a seguinte query que responde <b>corretamente</b> à pergunta:
</p>

<pre>
    <code class = "language-sql">
        SELECT nome, salário
        FROM funcionarios f
        WHERE salário > (
        SELECT AVG(salário) 
        FROM funcionarios 
        WHERE departamentoID = f.departamentoID);
    </code>

</pre>

<p>
Vejamos o que acontece com a query:
</p>
<h2>Query externa</h2>

</p>
<pre>
    <code class = "language-sql">
        SELECT nome, salário
        FROM funcionarios f
        WHERE salário > ...
    </code>

</pre>
<p>
    Processa cada funcionário e verifica se <b>o salário dele é maior que a média calculada para o departamento ao qual ele pertence</b>.
</p>
<h2>Subquery</h2>
<pre>
    <code class = "language-sql">
        SELECT AVG(salário) 
        FROM funcionarios 
        WHERE departamentoID = f.departamentoID
    </code>
</pre>
<p>
    Para <b>cada linha da consulta externa</b>, calcula a <b>média salarial (AVG(Salario))</b> considerando <b>somente</b> os funcionários do mesmo <b>DepartamentoID</b> do <b>funcionário da linha atual</b>.
</p>

<h2>Output Final:</h2>
<table>
    <tr>
        <th>Nome</th>
        <th>Salário</th>
    </tr>
    <tr>
        <td>Ana</td>
        <td>4000</td>
    </tr>
    <tr>
        <td>Maria</td>
        <td>5000</td>
    </tr>
</table>


{% endblock %}