{% extends 'base.html' %}

{% block content %}

<h1>Base de dados de recintos culturais</h1>

<table>
  <tr>
    <th>
      Distritos
    </th>
    <th>
      Concelhos
    </th>
  </tr>
  <tr>
    <td>
      {{ stats.n_distritos }}
    </td> 
    <td>
      {{ stats.n_concelhos }}
    </td> 
  </tr>
</table>

<p>
  <a href="/distritos">Listar distritos</a>
</p>
<p>
  <a href="/concelhos">Listar concelhos</a>
</p>
<p>
  <a href="/explicacao/SELECT">Explicação SELECT</a>
</p>
<p>
  <a href="/explicacao/CompStrings">Explicação Comparação de Strings</a>
</p>
<p>
  <a href="/explicacao/SUBQUERY">Explicação SUBQUERY</a>
</p>
<p>
  <a href="/explicacao/SubperguntaVariavel">Explicação SUBQUERY variável</a>
</p>




{% endblock %}
