{% extends 'base.html' %}

{% block content %}

<h1>Concelhos no Distrito de {{ distritoX[0].DISTRITO }}</h1>

<h2>Dados do Distrito</h2>
<ul>
    <li>Código: {{ distritoX[0].CODDISTRITO }}</li>
    <li>Nome: {{ distritoX[0].DISTRITO }}</li>
    <li>Número de Concelhos: {{ distritoX[0].N_CONCELHOS }}</li>
</ul>

<h2>Concelhos em {{ distritoX[0].DISTRITO }}:</h2>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Concelho</th>
        </tr>
    </thead>
    <tbody>
        {% for r in distritoX %}
        <tr>
            <td>{{ r.CODIGO }}</td>
            <td><a href="/concelhos/{{ r.CODIGO }}">{{ r.CONCELHO }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}