{% extends 'base.html' %} {% block content %}

<h1>IN</h1>
<p>
  A função <b>IN</b> é usada na cláusula WHERE para verificar se um valor
  específico pertence a um conjunto de valores fornecidos. O <b>NOT IN</b> é o
  inverso do IN.
</p>

<p>Por exemplo considere a tabela <b>nomes</b>:</p>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
  </tr>
  <tr>
    <td>João</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>30</td>
  </tr>
  <tr>
    <td>Carlos</td>
    <td>20</td>
  </tr>
</table>
<p>Eis a seguinte query :</p>
<pre><code class="language-sql">SELECT * 
FROM tabela 
WHERE nome IN ('João', 'Maria');</code></pre>

<p>Output:</p>
<p>
  Vão ser selecionadas as linhas com os nomes <b> pertencentes</b> à lista
  ('João', 'Maria')
</p>
<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
  </tr>
  <tr>
    <td>João</td>
    <td>25</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>30</td>
  </tr>
</table>
<pre><code class="language-sql">SELECT * 
FROM tabela 
WHERE nome NOT IN ('João', 'Maria');</code></pre>

<p>Output:</p>
<p>
  Vão ser selecionadas as linhas com os nomes <b>não pertencentes</b> à lista
  ('João', 'Maria')
</p>
<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
  </tr>
  <tr>
    <td>Carlos</td>
    <td>20</td>
  </tr>
</table>

{% endblock %}
