{% extends 'base.html' %}

{% block content %}

<h1>Escolas no Concelho de {{ concelhoX[0].CONCELHO }}</h1>

<h2>Dados do Concelho</h2>
<ul>
    <li>Código: {{ concelhoX[0].CODCONCELHO }}</li>
    <li>Nome: {{ concelhoX[0].CONCELHO }}</li>
    <li>Número de Escolas: {{ concelhoX[0].N_ESCOLAS }}</li>
</ul>

<h2>Escolas em {{ concelhoX[0].CONCELHO }}:</h2>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Escola</th>
        </tr>
    </thead>
    <tbody>
        {% for r in concelhoX %}
        <tr>
            <td>{{ r.CODIGOESCOLA }}</td>
            <td><a href="/escolas/{{ r.CODIGOESCOLA }}/">{{ r.ESCOLA }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
