{% extends 'base.html' %}

{% block content %}

<h1>ORDER BY</h1>

<p>
    A expressao <b>ORDER BY</b> tem como função determinar a ordem pela qual os dados são apresentados, quer seja de forma ascendente (por defeito ou utilizando a palavra <b>ASC</b>), como de forma descendente (pela palavra <b>DESC</b>).
    Note-se que, caso a coluna escolhida seja um conjunto de caracteres, ordem ascendente significa ordem alfabética, e descendente o oposto.
    <br><br>
    Por exemplo, considere a tabela <b>jogadores</b>:
</p>
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>OVERALL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Afonso</td>
                <td>73</td>
            </tr>
            <tr>
                <td>Miguel</td>
                <td>89</td>
            </tr>
            <tr>
                <td>Diogo</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Miguel</td>
                <td>83</td>
            </tr>
        </tbody>
    </table>
    

<p>
    E se a query introduzida for:
</p>

<pre><code class="language-sql">SELECT *
FROM jogadores
ORDER BY overall DESC;
</code></pre>

<p>
    O resultado seria:
</p>

    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>OVERALL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Miguel</td>
                <td>89</td>
            </tr>
            <tr>
                <td>Miguel</td>
                <td>83</td>
            </tr>
            <tr>
                <td>Diogo</td>
                <td>77</td>
            </tr>
            <tr>
                <td>Afonso</td>
                <td>73</td>
            </tr>
        </tbody>
    </table>

<p>
    Adicionalmente, na organização as colunas são priorizadas da esquerda para a direita.
    Assim, tomando a seguinte query:  
</p>

<pre><code class="language-sql">SELECT *
FROM jogadores
ORDER BY nome ASC, overall DESC;
</code></pre>

<p>
    O resultado seria:
</p>

<table>
    <thead>
        <tr>
            <th>NOME</th>
            <th>OVERALL</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Afonso</td>
            <td>73</td>
        </tr>
        <tr>
            <td>Diogo</td>
            <td>77</td>
        </tr>
        <tr>
            <td>Miguel</td>
            <td>89</td>
        </tr>
        <tr>
            <td>Miguel</td>
            <td>83</td>
        </tr>
    </tbody>
</table>

<p>
    <b>NOTA:</b> Vale realçar que um ORDER BY está sempre implicito numa query, mesmo que não seja escrito de todo. Neste caso será feita uma ordenação ascendente da primeira coluna selecionada.
</p>


{% endblock %}
