{% extends 'base.html' %}

{% block content %}

<h1>JOIN</h1>

<p>
    A palavra <b>JOIN</b> é utilizada no sentido de juntar duas tabelas de acordo com uma igualdade, especificada após a palavra <b>ON</b>.
    Dito isto, existem vários tipos de joins, servindo todos propósitos distintos, mesmo que às vezes semelhantes. São eles:
    <ul>
        <li><b>INNER JOIN</b>: Utilizado por defeito quando só é escrito <b>JOIN</b>. Retorna registos que têm valores correspondentes em ambas as tabelas.</li>
        <br>
        <li><b>LEFT JOIN</b>: Retorna todos os registos da tabela da esquerda e os registos correspondentes da tabela da direita. Se não houver correspondência, retorna NULL.</li>
        <br>
        <li><b>RIGHT JOIN</b>: Retorna todos os registos da tabela da direita e os registos correspondentes da tabela da esquerda. Se não houver correspondência, retorna NULL.</li>
        <br>
        <li><b>FULL JOIN</b>: Retorna todos os registos quando há uma correspondência em uma das tabelas. Se não houver correspondência, retorna NULL.</li>
        <br>
        <li><b>CROSS JOIN</b>: Retorna o produto cartesiano de ambas as tabelas, isto é cada linha da coluna A repete se o numero de vezes correspondente ao numero de linhas de B.</li>
        <br>
        <li><b>NATURAL JOIN</b>: Semelhante ao <b>INNER JOIN</b> mas não requer a palavra <b>ON</b>. Isto porque deteta automaticamente colunas equivalentes entre as tabelas.</li>
    </ul>
    <br><br>
    Por exemplo, considere as tabelas <b>jogadores</b> e <b>equipas</b>:
</p>

<div style='width: 40%; float: left'>
    <h3>Jogadores</h3>
    <table>
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>NOME</th>
                <th>ID_EQUIPA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Afonso</td>
                <td>3</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Miguel</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Diogo</td>
                <td>4</td>
            </tr>
            <tr>
                <td>4</td>
                <td>João</td>
                <td>NULL</td>
            </tr>
        </tbody>
    </table>
</div>
<div style='width: 40%; float: left'>
    <h3>Equipas</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>EQUIPA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Real Madrid</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Barcelona</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Manchester United</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Bayern Munich</td>
            </tr>
        </tbody>
    </table>
</div>

<div style='clear: both;'></div>

<p>
    E se a query introduzida for:
</p>

<pre><code class="language-sql">SELECT *
FROM jogadores
&lt;TIPO DE JOIN&gt; equipas ON equipas.id = jogadores.id_equipa;
</code></pre>

<p>
    Em que <b>&lt;TIPO DE JOIN&gt;</b> é o tipo de join dito no título da tabela correspondente
</p>

<div style='clear: both;'></div>

<h3>INNER JOIN</h3>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
    </tbody>
</table>
<p>
    Este join dispensa grande explicação. Pode ser pensado como a interseção das tabelas, visando apenas linhas que partilham keys entre as tabelas.
</p>

<h3>LEFT JOIN</h3>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>NULL</td>
        </tr>
    </tbody>
</table>
<p>
    Apesar do <b>João</b> não possuir equipa, é incluido na tabela pois pertence a tabela "da esquerda" (a primeira), sendo portanto o nome da sua equipa preenchido como <b>NULL</b>.
</p>

<h3>RIGHT JOIN</h3>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>NULL</td>
            <td>NULL</td>
            <td>NULL</td>
            <td>Real Madrid</td>
        </tr>
    </tbody>
</table>
<p>
    Apesar do <b>Real Madrid</b> não possuir jogadores da nossa tabela, é incluido no resultado pois pertence a tabela "da direita" (a segunda), sendo portanto o nome do seu jogador preenchido como <b>NULL</b>.
</p>

<h3>FULL JOIN</h3>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>NULL</td>
        </tr>
        <tr>
            <td>NULL</td>
            <td>NULL</td>
            <td>NULL</td>
            <td>Real Madrid</td>
        </tr>
    </tbody>
</table>
<p>
    Como o <b>FULL JOIN</b> representa, no fundo, a reuniao dos dois conjuntos (tabelas), tanto o <b>João</b> como o <b>Real Madrid</b> visam na tabela resultante, mesmo nao tendo correspondência nas outras tabelas.
</p>

<h3>CROSS JOIN</h3>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>ID</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>1</td>
            <td>Real Madrid</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>1</td>
            <td>Real Madrid</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>1</td>
            <td>Real Madrid</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>1</td>
            <td>Real Madrid</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>4</td>
            <td>João</td>
            <td>NULL</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
    </tbody>
</table>
<p>
    Este tipo de join retorna todas as combinacoes entre a tabela da esquerda e a da direita. Tal significa, no exemplo apresentado, uma linha para cada par jogador-equipa, como se pode ver acima.
</p>

<h3>NATURAL JOIN</h3>
<p>
    Neste tipo de join, como já foi mencionado acima, não é necessária (ou possível sequer) a utilização de <b>ON</b>. Assim a query neste caso específico é:
</p>

<pre><code class="language-sql">SELECT *
FROM jogadores
NATURAL JOIN equipas;
</code></pre>
<p>
    E tem como resultado a seguinte tabela, em tudo semelhante à do <b>INNER JOIN</b>:
</p>
<table>
    <thead>
        <tr>
            <th>CODIGO</th>
            <th>NOME</th>
            <th>ID_EQUIPA</th>
            <th>EQUIPA</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>3</td>
            <td>Manchester United</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Miguel</td>
            <td>2</td>
            <td>Barcelona</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Diogo</td>
            <td>4</td>
            <td>Bayern Munich</td>
        </tr>
    </tbody>
</table>

{% endblock %}