{% extends 'base.html' %}

{% block content %}

<h1>SELECT</h1>

<p>
    A palavra <b>SELECT</b> é uma das duas obrigatórias numa query de SQL. A sua função consiste em selecionar as colunas desejadas no output.
    <br><br>
    Por exemplo, considere a tabela <b>Cidadaos</b> e <b>EstadoCivil</b>:
</p>
    
<div style='width: 40%; float: left'>
    <h3>Cidadaos</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>SEXO</th>
                <th>IDADE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Afonso</td>
                <td>Masculino</td>
                <td>25</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Beatriz</td>
                <td>Feminino</td>
                <td>30</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Carlos</td>
                <td>Masculino</td>
                <td>28</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Diana</td>
                <td>Feminino</td>
                <td>22</td>
            </tr>
        </tbody>
    </table>
</div>
<div style='width: 40%; float: left'>
    <h3>EstadoCivil</h3>
    <table>
        <thead>
            <tr>
                <th>CIDADAO</th>
                <th>ESTADO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Solteiro</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Casada</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Divorciado</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Solteira</td>
            </tr>
        </tbody>
    </table>
</div>

<div style='clear: both;'></div>

<p>
    E se a query introduzida for:
</p>


<pre><code class="language-sql">SELECT
    nome,
    idade
FROM cidadaos
</code></pre>

<p>
    O resultado seria:
</p>

<table>
    <thead>
        <tr>
            <th>NOME</th>
            <th>IDADE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Afonso</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Beatriz</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Carlos</td>
            <td>28</td>
        </tr>
        <tr>
            <td>Diana</td>
            <td>22</td>
        </tr>
    </tbody>
</table>

<p>
    Porém, se estivermos a operar sobre várias tabelas ao mesmo tempo (como quando usamos um <code class="language-sql">JOIN</code>, por exemplo), temos obrigatóriamente de mencionar a tabela a que pertence a coluna, quer seja pelo seu nome original ou por um <b>alias</b>.
    <br><br>
    Assim a query:    
</p>

<pre><code class="language-sql">SELECT
    c.*,
    EstadoCivil.estado
FROM Cidadaos c --c é um alias de Cidadaos
JOIN EstadoCivil ON EstadoCivil.cidadao = Cidadaos.id
</code></pre>

<p>
    Resulta na tabela:    
</p>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>SEXO</th>
            <th>IDADE</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Afonso</td>
            <td>Masculino</td>
            <td>25</td>
            <td>Solteiro</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Beatriz</td>
            <td>Feminino</td>
            <td>30</td>
            <td>Casada</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Carlos</td>
            <td>Masculino</td>
            <td>28</td>
            <td>Divorciado</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Diana</td>
            <td>Feminino</td>
            <td>22</td>
            <td>Solteira</td>
        </tr>
    </tbody>
</table>

<p>
    Note que podemos sempre usar o caracter <code class="language-sql">*</code> para selecionar todas as colunas de alguma tabela, como demonstrado acima.
</p>

{% endblock %}
