{% extends 'base.html' %} {% block content %}

<h1>Funções de agregação</h1>

<h2>Group by </h2>
<p>
    A cláusula <b>GROUP BY</b> é usada para agrupar linhas em uma consulta com base em valores de uma ou mais colunas. 
    Frequentemente, ela é utilizada em conjunto com funções de agregação como <b>SUM, COUNT, AVG, MAX e MIN,</b>
    para realizar cálculos em grupos de dados.
</p>
<ul>
    <li><b>Sum</b>: soma os valores de uma coluna</li>
    <li><b>Count</b>: conta o número de linhas</li>
    <li><b>Avg</b>: calcula a média dos valores de uma coluna</li>
    <li><b>Max</b>: retorna o maior valor de uma coluna</li>
    <li><b>Min</b>: retorna o menor valor de uma coluna</li>
</ul>


<p>Por exemplo considere a tabela <b>nomes</b>:</p>

<table>
  <tr>
    <th>Nome</th>
    <th>Idade</th>
    <th>Salário</th>
  </tr>
  <tr>
    <td>Afonso</td>
    <td>25</td>
    <td>2000</td>
  </tr>
  <tr>
    <td>Miguel</td>
    <td>25</td>
    <td>2090</td>
  </tr>
  <tr>
    <td>Diogo</td>
    <td>20</td>
    <td>1500</td>
  </tr>
</table>
<p>Eis a seguinte query :</p>
<pre><code class="language-sql">SELECT Idade, SUM(salário) as Total_salário 
FROM nomes
GROUP BY idade</code></pre>

<p>Output:</p>
<p>
  Vai ser agrupados os salarios com a mesma idade e depois somados
</p>
<table>
  <tr>
    <th>Idade</th>
    <th>Total_salário</th>
  </tr>
  <tr>
    <td>25</td>
    <td>4090</td>
  </tr>
  <tr>
    <td>20</td>
    <td>1500</td>
  </tr>
</table>

  <h2>Having</h2>
  <p>
    A cláusula <b>HAVING</b> é usada para filtrar os resultados de grupos criados com <b>GROUP BY</b>.
     Enquanto o <b>WHERE</b> filtra linhas antes da agregação, o <b>HAVING</b> aplica condições após a agregação, 
     geralmente com funções agregadas como SUM, COUNT, AVG, MAX, e MIN.
  </p>
    <p>Por exemplo considere a tabela <b>nomes</b>:</p>
    <table>
      <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Salário</th>
      </tr>
      <tr>
        <td>Afonso</td>
        <td>25</td>
        <td>2000</td>
      </tr>
      <tr>
        <td>Miguel</td>
        <td>25</td>
        <td>2090</td>
      </tr>
      <tr>
        <td>Diogo</td>
        <td>20</td>
        <td>1500</td>
      </tr>
    </table>
    <p>Eis a seguinte query :</p>
    <pre><code class="language-sql">SELECT Idade, SUM(salário) as Total_salário
FROM nomes
GROUP BY idade
HAVING SUM(salário) > 2000</code></pre>
    <p>Output:</p>
    <p>
      Vai ser agrupados os salarios com a mesma idade e depois somados, e só vai ser mostrado os salários que forem maiores que 2000
    </p>
    <table>
      <tr>
        <th>Idade</th>
        <th>Total_salário</th>
      </tr>
      <tr>
        <td>25</td>
        <td>4090</td>
      </tr>

    </table>
</p>


{% endblock %}