{% extends 'base.html' %}

{% block content %}

<h1>Base de dados de recintos culturais</h1>

<table>
  <tr>
    <th>
      Distritos
    </th>
    <th>
      Concelhos
    </th>
  </tr>
  <tr>
    <td>
      {{ stats.n_distritos }}
    </td> 
    <td>
      {{ stats.n_concelhos }}
    </td> 
  </tr>
</table>

<p>
  <a href="/distritos">Listar distritos</a>
</p>
<p>
  <a href="/concelhos">Listar concelhos</a>
</p>
<p>
  <a href="/explicacao/ORDER_BY">ORDER BY</a>
</p>
<p>
  <a href="/explicacao/JOIN">JOIN</a>
</p>
<p>
  <a href="/explicacao/Agregacao_Dupla">Agregação Dupla</a>
</p>
<p>
  <a href="/explicacao/row_number">row_number()</a>
</p>

{% endblock %}
