{% extends 'base.html' %}
    
{% block content %}
<h1>Explicações</h1>

<p>Segue abaixo uma explicação dos comandos de SQL utilizados ao longo deste projeto:</p>

<style>
    h2 {
        font-size: 20px; /* Ajuste o valor conforme necessário */
    }
</style>

<h2>
    <a href="/explicacao/SELECT">SELECT</a>
</h2>
<h2>
    <a href="/explicacao/WHERE">WHERE</a>
</h2>
<h2>
    <a href="/explicacao/LIKE">Comparação de Strings (LIKE)</a>
</h2>

<h2>
    <a href="/explicacao/Conjuntos">IN</a>
</h2>

<h2>
    <a href="explicacao/Funcoesdeagregacao">Funções de Agregação</a>
</h2>
<h2>
    <a href="/explicacao/Case">CASE</a>
</h2>
<h2>
    <a href="/explicacao/ORDER_BY">ORDER BY</a>
</h2>
<h2>
    <a href="/explicacao/JOIN">JOIN</a>
</h2>
<h2>
    <a href="explicacao/Agregacao_Dupla">Agregação Dupla</a>
</h2>
<h2>
    <a href="/explicacao/ROW_NUMBER">Row Number</a>
</h2>
<h2>
    <a href="/explicacao/Subqueries">Subquery</a>
</h2>
<h2>
    <a href="/explicacao/SubqueryVariavel">Subquery Variável</a>
</h2>

{% endblock %}
