{% extends 'base.html' %}

{% block content %}

<h1>Concelhos</h1>

<table>
  <tr>
    <th>
      Código
    </th>
    <th>
      Nome
    </th>
    <th>
      Nº de escolas
    </th>
    <th>
    Distrito
    </th>
  </tr>
  {% for d in concelhos %}
    <tr>
        <td>
        {{ d.cod }}
        </td> 
        <td>
          <a href="/concelhos/{{ d.cod }}/">{{ d.concelho }}</a>
        </td> 
        <td>
        {{d.num_escolas }}
        </td>
        <td>
          <a href="/distritos/{{ d.codDistrito }}/">{{ d.distrito }}</a>
        </td>
  {% endfor %}
</table>


{% endblock %}