{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 7</h1>
<p>
    <b>Tópicos:</b>
    <a href="/explicacao/SELECT">SELECT</a>, 
    <a href="/explicacao/JOIN">Tipos de JOIN</a>, 
    <a href="/explicacao/ORDER_BY">ORDER BY</a>, 
    <a href="/explicacao/ROW_NUMBER">ROW_NUMBER()</a>
</p>


<h2>Enunciado</h2>
<p style= "font-size: 20px">
    <b>Quais os 5 distritos com menor numero de raparigas por turma em media?</b>
    <br>
    <u>Considere apenas turmas pertencentes a escolas.</u> Ordene do menor numero de raparigas para o maior.
</p>

<h2>Resolução</h2>
<p>
    Tomemos uma metodologia diferente à das questões usuais; não começamos por tratar de preencher o <code class="language-sql">SELECT</code>. Em vez disso, listemos o que precisamos de saber para responder à pergunta:
    <ul>
        <li>O número médio de raparigas por turma em cada distrito.</li>
        <li>Os distritos ordenados pelo número médio de raparigas por turma.</li>
        <li>Os 5 distritos com o menor número médio de raparigas por turma.</li>
    </ul>
    <br>
    Assim, utilizando a palavra <code class="language-sql">WITH</code>, criemos 2 tabelas auxiliares (<b>MediaRaparigasPorDistrito</b> e <b>DistritosOrdenados</b>) que satisfaçam o primeiro e o segundo ponto, respetivamente:
</p>

<p>
    <b>ATENÇÃO:</b> Utilizando <code>ROW_NUMBER() OVER</code>, atribuimos um número sequencial único a cada linha dentro de uma partição de um conjunto de resultados. Esta numeração é baseada na ordem especificada na cláusula <code>ORDER BY</code> dentro da expressão <code>OVER</code>.
    <br><br>
    Ou seja, a função <code>ROW_NUMBER()</code> atribui um número de linha a cada registro, ordenando-os pela coluna <code>quantidade</code>. Tal tem como propósito identificar a posição de cada linha dentro do conjunto de resultados.
</p>

<pre><code class="language-sql">WITH MediaRaparigasPorDistrito AS (
    SELECT
            d.distrito,
            AVG(a.quantidade) AS media_raparigas
        FROM distritos d
        JOIN concelhos c ON d.cod = c.distrito
        JOIN escolas e ON c.cod = e.concelho
        JOIN turmas t ON e.cod = t.escola
        JOIN alunos a ON t.cod = a.turma
        WHERE a.sexo = 'Mulheres'
        GROUP BY d.distrito
),
DistritosOrdenados AS (
    SELECT
        distrito,
        media_raparigas,
        ROW_NUMBER() OVER (ORDER BY media_raparigas ASC) AS rank  --Utilização de ROW_NUMBER() para
    FROM MediaRaparigasPorDistrito                                --evidenciar a ordem
)
</code></pre>

<p>
    De seguida, feitas estas tabelas, podemos selecionar as colunas relevantes à questão em mãos:    
</p>

<pre><code class="language-sql">SELECT
    distrito AS Distrito,
    media_raparigas AS "Média de Raparigas"
</code></pre>

<p>
    Mas queremos apenas os <b>5</b> distritos com menos raparigas.
    <br><br>
    Ora, como a tabela <code class="language-sql">DistritosOrdenados</code> tem os rankings de cada distrito, em que <code class="language-sql">RANK = 1</code> é o distrito com menos raparigas, basta  
</p>

<pre><code class="language-sql">FROM DistritosOrdenados
WHERE rank <= 5
ORDER BY rank;
</code></pre>

<p>
    Logo, fica a query na sua totalidade:
</p>

<pre><code class="language-sql">WITH MediaRaparigasPorDistrito AS (
    SELECT
            d.distrito,
            AVG(a.quantidade) AS media_raparigas
        FROM distritos d
        JOIN concelhos c ON d.cod = c.distrito
        JOIN escolas e ON c.cod = e.concelho
        JOIN turmas t ON e.cod = t.escola
        JOIN alunos a ON t.cod = a.turma
        WHERE a.sexo = 'Mulheres'
        GROUP BY d.distrito
),
DistritosOrdenados AS (
    SELECT
        distrito,
        media_raparigas,
        ROW_NUMBER() OVER (ORDER BY media_raparigas ASC) AS rank  --Utilização de ROW_NUMBER() para
    FROM MediaRaparigasPorDistrito                                --evidenciar a ordem
)

SELECT
    distrito AS Distrito,
    media_raparigas AS "Média de Mulheres"
FROM DistritosOrdenados
WHERE rank <= 5
ORDER BY rank;
</code></pre>

<p>
    <b>NOTA:</b> Claro está que esta pergunta poderia ter sido respondida também utilizando <code class="language-sql">LIMIT 5</code>, eliminando a necessidade de criar uma coluna <code class="language-sql">RANK</code>. No entanto, o propósito aqui é precisamente mostrar um possível caso em que <code class="language-sql">ROW_NUMBER()</code> seria útil.
</p>

<h2>Resultado</h2>

<table>
    <tr>
        <th>Concelho</th>
        <th>Média de Mulheres</th>
    </tr>
    {% for row in resposta %}
    <tr>
        <td>{{ row.distrito }}</td>
        <td>{{ row.med }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}