{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 8</h1>
<p>
    <b>Tópicos:</b> funções de agregação, having, subquery variavel, order by
</p>

<h2>Enunciado</h2>
<p>
    <b>Qual o nome da escola com o maior número de alunos em distritos com mais de 50 escolas?</b>
    <br>
    Selecione o nome do distrito, o nome da escola e a quantidade de alunos.Ordene por distrito.
</p>

<h2>Resolução</h2>

<pre><code class="language-sql">WITH c1 AS (
    SELECT
        distritos.distrito,
        SUM(alunos.quantidade) AS max_quantidade,
        escolas.escola

    FROM distritos
    JOIN concelhos ON concelhos.distrito = distritos.cod
    JOIN escolas ON escolas.concelho = concelhos.cod
    JOIN turmas ON turmas.escola = escolas.cod
    JOIN alunos ON alunos.turma = turmas.cod
    GROUP BY escolas.escola
    HAVING distritos.cod IN (
        SELECT d.cod
        FROM distritos d
        WHERE(
            SELECT COUNT(*)
            FROM concelhos c
            JOIN escolas e ON e.concelho = c.cod
            WHERE c.distrito = d.cod
        ) > 1000
    )
)

SELECT
    c1.distrito,
    c1.escola,
    MAX(c1.max_quantidade) AS alunos
FROM c1
</code></pre>

<h2>Resultado</h2>
<table>
    <tr>
        <th>Distrito</th>
        <th>Escola</th>
        <th>Alunos</th>
    </tr>
    {% for row in resposta %}
    <tr>
        <td>{{ row.distrito }}</td>
        <td>{{ row.escola }}</td>
        <td>{{ row.alunos }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}