
{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 6</h1>
<p>
    <b>Tópicos:</b> 
    <a href="/explicacao/WHERE">WHERE</a>,
    <a href="/explicacao/Funcoesdeagregacao">Funções de Agregação</a>,
    <a href="/explicacao/JOIN">JOIN</a>
</p>

<h2>Enunciado</h2>
<p style= "font-size: 20px">
    Selecione todos os agrupamentos em concelhos com mais de <b>30</b> escolas de natureza pública e tipologia <b>"EB"</b> ordena por agrupamento.
</p>

<h2>Resolução</h2>
<p>
    Comecemos por selecionar as colunas desejadas e juntar tabelas relevantes: 
</p>

<pre><code class="language-sql">SELECT
concelhos.concelho,
agrupamentos.agrupamento
FROM agrupamentos
JOIN escolas ON escolas.agrupamento = agrupamentos.cod
JOIN concelhos ON concelhos.cod = escolas.concelho
JOIN turmas ON turmas.escola = escolas.cod
</code></pre>

<p>
Agora aplicando o filtro desejado, ou seja, concelhos com mais de 30 escolas de natureza pública e tipologia "EB":
</p>

<pre><code class="language-sql">WHERE turmas.natureza = 'Público' AND turmas.tipologia = 'EB'
</code></pre>
<p>
E agrupamos por concelho e agrupamento:
</p>
<pre><code class="language-sql">GROUP BY concelhos.concelho, agrupamentos.agrupamento
</code></pre>
<p>
    Ordenando por concelho e agrupamento:
</p>
<pre><code class="language-sql">ORDER BY concelhos.concelho ASC, agrupamentos.agrupamento ASC;
</code></pre>

<p>
    Obtemos portanto a query na sua totalidade:
</p>
    <!--Query Inteira-->
<pre><code class="language-sql">SELECT
concelhos.concelho,
agrupamentos.agrupamento
FROM agrupamentos
JOIN escolas ON escolas.agrupamento = agrupamentos.cod
JOIN concelhos ON concelhos.cod = escolas.concelho
JOIN turmas ON turmas.escola = escolas.cod
WHERE turmas.natureza = 'Público' AND turmas.tipologia = 'EB'
GROUP BY concelhos.concelho, agrupamentos.agrupamento
HAVING COUNT(escolas.cod) > 4
ORDER BY
    concelhos.concelho,
    agrupamentos.agrupamento;
   
</code></pre>



<h2>Resultado</h2>

<table>
    <tr>
        <th>Concelho</th>
        <th>Agrupamento</th>
    </tr>
    <tr>
        {% for row in resposta %}
        <td>{{ row.concelho }}</td>
        <td>{{ row.agrupamento }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
    