{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 4</h1>
<p>
    <b>Tópicos:</b> select, tipos de join, order by, agregação dupla
</p>

<h2>Enunciado</h2>
<p>
    <b>Qual e o distrito com menos turmas de nivel de ensino secundario?</b>
    <br><br>
    Selecione o nome do distrito e o numero de turmas.
</p>

<h2>Resolução</h2>
<p>
    Começemos por selecionar as colunas pedidas acima:
</p>

<pre><code class="language-sql">SELECT
    sub.distrito AS Distrito,
    MIN(sub.num) AS "Número de Escolas"
</code></pre>

<p>
    Mas como <code class="language-sql">MIN()</code> é uma função de agregação, é nos necessário criar o grupo ao qual se vai aplicar o filtro.
    <br><br>
    Tal grupo é, neste caso, a contagem de turmas de secundário por distrito. Assim faremos uma subquery de modo a obter essa tabela, começando por selecionar as colunas e juntar as tabelas necessárias:
</p>

<pre><code class="language-sql">--Já dentro da subquery
SELECT
    d.distrito AS distrito,
    COUNT(t.cod) AS num
FROM distritos d
JOIN concelhos c ON c.distrito = d.cod
JOIN escolas e ON e.concelho = c.cod
JOIN turmas t ON t.escola = e.cod
</code></pre>

<p>
    <b>ATENÇÃO:</b> Vale notar que a tabela turmas é junta duas vezes. Isto porque algumas turmas pertencem a <code class="language-sql">Escolas</code>, ao passo que outras pertencem a <code class="language-sql">EntidadesEscola</code>.
    <br><br>
    Mas como queremos as turmas de secundário (identificadas com nível <code class="language-sql">"Ensino Secundário"</code>):
</p>

<pre><code class="language-sql">WHERE t.nivel LIKE "Ensino Secundário"
</code></pre>

<p>
    E agrupando o <code class="language-sql">COUNT()</code> por distrito, fechamos a subquery:
</p>

<pre><code class="language-sql">GROUP BY d.cod, d.distrito
--Fim da subquery
</code></pre>

<p>
Tendo tudo isso em conta, eis a query na tua totalidade:
</p>

<pre><code class="language-sql">SELECT
    sub.distrito AS Distrito,
    MIN(sub.num) AS "Número de Escolas"
FROM (
    SELECT
        d.distrito AS distrito,
        COUNT(t.cod) AS num
    FROM distritos d
    JOIN concelhos c ON c.distrito = d.cod
    JOIN escolas e ON e.concelho = c.cod
    JOIN turmas t ON t.escola = e.cod
    WHERE t.nivel LIKE "Ensino Secundário"
    GROUP BY d.cod, d.distrito
) AS sub;
</code></pre>

<h2>Resultado</h2>

<table>
    <tr>
        <th>Distrito</th>
        <th>Número de Turmas</th>
    </tr>
    {% for row in resposta %}
    <tr>
        <td>{{ row.Distrito }}</td>
        <td>{{ row.num }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}