
{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 9</h1>
<p>
    <b>Tópicos:</b>
    <a href="/explicacao/Funcoesdeagregacao">Funções de Agregação</a>,
    <a href="/explicacao/Case">Case</a>,
    <a href="/explicacao/Subqueries">Subqueries</a>
</p>

<h2>Enunciado</h2>
<p style= "font-size: 20px">
    Faz uma classificação qualitativa das escolas quanto ao número de turmas e média de alunos:</p>
    <ul>
        <li>Se o número de turmas < média de turmas por escola -> Tem poucas turmas</li>
        <li>Se o número de turmas >= média de turmas por escola e o número de alunos < média de alunos por escola (globalmente) -> Poucos alunos por escola</li>
        <li>Se o número de turmas >= média de turmas por escola e o número de alunos  >= média de alunos por escola (globalmente) -> A escola esta sobrepopulada</li>
    </ul>
<p style= "font-size: 20px">
    O resultado deve ter o nome da escola a quantidade de alunos e a classificação obtida ordenada por nome da escola.
</p>




<h2>Resolução</h2>
<p>
    Comecemos por calcular as estatísticas de cada escola:
    <ul>
        <li>Nome da escola</li>
        <li>O número de turmas</li>
        <li>O número de alunos</li> 
    </ul>
</p>

<pre><code class="language-sql">WITH EstatisticasEscolas AS (
    SELECT
        escolas.escola AS NomeEscola,
        COUNT(DISTINCT turmas.cod) AS NumeroTurmas,
        SUM(alunos.quantidade) AS NumeroAlunos
    FROM alunos
    JOIN turmas ON turmas.cod = alunos.turma
    JOIN escolas ON escolas.cod = turmas.escola
    GROUP BY escolas.escola
),
</code></pre>

<p>
    Agora vamos calcular as médias de turmas e alunos por escola:
</p>

<pre><code class="language-sql">MediasGlobais AS (
    SELECT
        AVG(NumeroTurmas) AS MediaTurmasPorEscola,
        AVG(NumeroAlunos) AS MediaAlunosPorEscola
    FROM EstatisticasEscolas
)
</code></pre>

<p>
Agora juntado as duas queries anteriores, vamos classificar as escolas com <b>CASE</b> mediante as condições do enunciado:
</p>

<pre><code class="language-sql">SELECT
ee.NomeEscola,
ee.NumeroAlunos,
CASE
    WHEN ee.NumeroTurmas < mg.MediaTurmasPorEscola THEN 'Tem poucas turmas'
    WHEN ee.NumeroTurmas >= mg.MediaTurmasPorEscola AND ee.NumeroAlunos < mg.MediaAlunosPorEscola THEN 'Poucos alunos'
    WHEN ee.NumeroTurmas >= mg.MediaTurmasPorEscola AND ee.NumeroAlunos >= mg.MediaAlunosPorEscola THEN 'A escola esta sobrepopulada'
END AS Classificacao
FROM
    EstatisticasEscolas ee
CROSS JOIN
    MediasGlobais mg
ORDER BY
    ee.NomeEscola;

</code></pre>
<p>
    Obtemos portanto a query na sua totalidade:
</p>
    <!--Query Inteira-->
<pre><code class="language-sql">WITH EstatisticasEscolas AS (
    SELECT
        escolas.escola AS NomeEscola,
        COUNT(DISTINCT turmas.cod) AS NumeroTurmas,
        SUM(alunos.quantidade) AS NumeroAlunos
    FROM alunos
    JOIN turmas ON turmas.cod = alunos.turma
    JOIN escolas ON escolas.cod = turmas.escola
    GROUP BY escolas.escola
),


MediasGlobais AS (
    SELECT
        AVG(NumeroTurmas) AS MediaTurmasPorEscola,
        AVG(NumeroAlunos) AS MediaAlunosPorEscola
    FROM EstatisticasEscolas
)


SELECT
    ee.NomeEscola,
    ee.NumeroAlunos,
    CASE
        WHEN ee.NumeroTurmas < mg.MediaTurmasPorEscola THEN 'Tem poucas turmas'
        WHEN ee.NumeroTurmas >= mg.MediaTurmasPorEscola AND ee.NumeroAlunos < mg.MediaAlunosPorEscola THEN 'Poucos alunos'
        WHEN ee.NumeroTurmas >= mg.MediaTurmasPorEscola AND ee.NumeroAlunos >= mg.MediaAlunosPorEscola THEN 'A escola esta sobrepopulada'
    END AS Classificacao
FROM
    EstatisticasEscolas ee
CROSS JOIN
    MediasGlobais mg
ORDER BY
    ee.NomeEscola;
   
</code></pre>


<h2>Resultado</h2>

<table>
    <tr>
        <th>Nome da Escola</th>
        <th>Numero de Alunos</th>
        <th>Classificação</th>
    </tr>
    <tr>
        {% for row in resposta %}
        <td>{{ row.NomeEscola }}</td>
        <td>{{ row.NumeroAlunos }}</td>
        <td>{{ row.Classificacao }}</td>
        
    </tr>
    {% endfor %}
</table>



{% endblock %}
    