{% extends 'base.html' %}

{% block content %}

<h1>Pergunta 1</h1>
<p>
    <b>Tópicos:</b> select, tipos de join, order by, funções de agregação
</p>

<h2>Enunciado</h2>
<p>
    <b>Em cada concelho, quantas escolas que NÃO pertencem a um agrupamento existem?</b>
    <br><br>
    <u>Utilize vários tipos de JOIN.</u> Apresente o nome do concelho e o número de escolas, e ordene pelo nome do concelho.
</p>

<h2>Resolução</h2>
<p>
    Começemos por compreender quais as colunas pedidas no enunciado.
    <br><br>
    Ora, pelo enunciado quer-se não só o nome dos concelhos que satisfazem a condição (<code class="language-sql">concelhos.concelho</code>), mas também a contagem das escolas não pertencentes a agrupamentos, isto é, um <code class="language-sql">COUNT(entidades.escola)</code>.
    <br><br>
    Então:
</p>

<pre><code class="language-sql">SELECT
    concelhos.concelho,
    COUNT(escolas.cod) as "Nº Escolas"
</code></pre>

<p>
    Cabe-nos agora operar sobre as diversas tabelas de modo a obter a infomação desejada. Para isso vamos primeiro juntar as tabelas necessárias:
</p>

<pre><code class="language-sql">FROM concelhos
JOIN escolas ON escolas.concelho = concelhos.cod
LEFT JOIN agrupamentos ON agrupamentos.cod = escolas.agrupamento
</code></pre>

<p>
    <b>ATENÇÃO:</b> Note que, para juntar a tabela <code class="language-sql">Agrupamentos</code> utilizamos um <b>LEFT JOIN</b>. Isto porque, ao priorizar a tabela da esquerda, incluimos também no resultado as entidades sem correspondência em <code class="language-sql">Agrupamentos</code>.
    <br><br>
    Podemos finalmente filtrar as escolas e ordenar corretamente o resultado:
</p>

<pre><code class="language-sql">WHERE agrupamentos.cod = NULL
GROUP BY concelhos.cod;
</code></pre>

<p>
    Procuramos nesta query por <code class="language-sql">NULL</code> pois, nas linhas em não existe correspondência para alguma coluna, tal coluna será preenchida com <code style='language-sql'>NULL</code>. Ou seja, em termos leigos, entidades sem agrupamento têm a coluna <code style='language-sql'>agrupamentos.cod = NULL</code>.
    <br><br>
    Em último lugar, ordenamos a tabela alfabeticamente pelos nomes dos concelhos.cod
    <br><br>
    Tendo tudo isso em conta, eis a query na tua totalidade:
</p>

<pre><code class="language-sql">SELECT
    concelhos.concelho,
    COUNT(escolas.cod) as "Nº Escolas"
FROM concelhos
JOIN escolas ON escolas.concelho = concelhos.cod
LEFT JOIN agrupamentos ON agrupamentos.cod = escolas.agrupamento
WHERE agrupamentos.cod = NULL
GROUP BY concelhos.cod;
</code></pre>

<p>
    Que resulta na tabela:
</p>

<h1>INTRODUZIR TABELA DA PERGUNTA 1</h1>

{% endblock %}